* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 40px;
    font-size: 80px;
}

#loginBox {
    border: 2px solid #925ebd;
    border-radius: 5px;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

#loginBox h2 {
    text-align: center;
    padding: 10px;
    background-color: #b57de3;
    color: aliceblue;
}

#loginBox form {
    display: inline-block;
}

#loginBox input{
    text-align: center;
    margin: 10px;
    padding: 5px;
    float: left;
    border: 2px solid #c9a0eb;
    border-radius: 5px;
}

#loginBox .button {
    margin: 5px;
    padding: 2px;
    background-color: #c9a0eb;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: none;
}

#loginBox .button:hover {
    cursor: pointer;
    background-color: #e8d5f7;
}

